*{
    outline: 1px solid red;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding:0;
}
.header{
    background-color: #1F2937;
}
.head{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.left{
    color: #F9FAF8;
    font-weight: 900;
    font-size: 24px;
}
ul{
    display:flex;
    list-style-type: none;
    gap:32px;
    padding: 0;
}
a{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}
.hero{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 72px;
    flex-wrap: wrap;
    padding: 80px 56px;
}
img{
    width: 400px;
    height: 250px;
}
.text{
    display: flex;
    flex-direction: column;
    width: 500px;
}
button{
    width: 100px;
    background-color: #3882f6;
    color: #E5E7EB;
    border-radius:8px;
    border: none;
    padding: 8px;
}
.heading{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0;
    padding: 0;
}
.subtext{
    margin: 0;
    padding:0;
    color: #E5E7EB;
    font-size: 18px;
    margin: 12px auto;
}
.random{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}
.info{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
} 
.images{
    display: flex;
    flex-wrap: wrap;
    gap:48px;
    /* margin: auto 32px; */
    justify-content: space-between;
}
.imagediv {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100px;
    gap:8px;
}
.image{
    width:100px;
    height:100px;
    border: none;
    border-radius: 12px;
}
.imgtxt{
   font-weight: 50;
   font-size: 15px;
   margin:0;
   /* padding: 0; */
}
.section2{
    background-color: #E5E7EB;
    padding: 24px 0;
}
.quotation{
    display: flex;
    flex-direction: column;
}