/* Body default styles */
body{
    margin: 0;
    padding:0;
    font-family: "Roboto", sans-serif;
}

/* Header styles */
.header{
    background-color: #1F2937;
    padding-bottom: 32px;
}
.head{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.left{
    color: #F9FAF8;
    font-weight: 900;
    font-size: 24px;
}
ul{
    display:flex;
    list-style-type: none;
    gap:32px;
    padding: 0;
}
a{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}
.hero{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 72px;
    flex-wrap: wrap;
    padding: 80px 56px;
}
img{
    width: 400px;
    height: 250px;
}
.text{
    display: flex;
    flex-direction: column;
    width: 500px;
}
button{
    width: 120px;
    background-color: #3882f6;
    color: #E5E7EB;
    border-radius:8px;
    border: none;
    padding: 8px;
    font-weight: bold;
    /* font-size: 20px; */
}
.heading, .subtext{
    margin: 0;
    padding: 0;
}
.heading{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}
.subtext{
    color: #E5E7EB;
    font-size: 18px;
    margin: 12px auto;
    font-weight: lighter;
}

/* Second section styles */
.section1{
    padding-top: 8px;
}
.random{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    /* font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
}
.info{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 80px;
} 
.images{
    display: flex;
    flex-wrap: wrap;
    gap:48px;
    margin: auto 32px;
    justify-content: space-between;
}
.imagediv {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100px;
    gap:8px;
}
.image{
    width:100px;
    height:100px;
    border: none;
    border-radius: 12px;
}
.imgtxt{
   font-weight: 50;
   font-size: 15px;
   margin:0;
   /* padding: 0; */
}

/* Quote section styles */
.section2{
    background-color: #E5E7EB;
    padding: 100px 0;
    display: flex;
    justify-content: center;
}
.quotation{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
    max-width: 600px;
    justify-content: center;
    align-items:flex-end;
    margin: 0 32px;
    padding: 0;
}
.person, .quotes{
    margin: 0;
    padding: 0;
}
.quotes{
    text-align: justify;
    font-size: 24px;
    font-style: italic;
    font-weight: 250;
}
.person{
    font-size:15px;
    /* font-family:Roboto; */
}

/* CTA section styles */
.section3{
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 72px 32px;
}
.cta{
     display:flex;
     flex: 1;
     flex-wrap: wrap;
     justify-content: space-around;
     align-items: center;
     max-width: 700px;
     padding: 32px;
     background-color: #3882f6;
     border:none;
     border-radius:6px;
     gap:4px;
}
.ctahead, .ctasub{
    margin:0;
    padding:0;
}
.ctasu{
    border: 2px solid #E5E7EB;
    color: #E5E7EB;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ctatext{
     color: #E5E7EB;
     display: flex;
     flex-direction: column;
     gap:2px;
}
.ctasub{
    font-weight: lighter;
}

/* Footer styles */
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    background-color: #1F2937;
    color: #E5E7EB;
}
.foot{
    font-size: medium;
    font-weight: lighter;
}